{% extends "crptapp/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "crptapp/css/dashboard.css" %}" />{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content-main">

{% if questions %}
    <div class="module">
        <table>
        <caption>
            <div class="section" style="float:left;">Capacity Assessment questions: {{ ca_subsection_id }}</div>
            <div style="float:right;padding-right:18px;"><a href="" class="addlinktoplist" style="color:white;">{% trans 'Add' %}</a></div>
        </caption>


        {% if num_hazard_related_questions > 0 %}
            <tr class="assessment-{{ assessment.object_name|lower }}">
                <th scope="row"><span class="required">Hazard-related questions: </span></th>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            {% for hazard in assessment.hazards.all %}
                <tr class="assessment-{{ assessment.object_name|lower }}">
                    <th scope="row">&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'crptapp:ca_statement_detail_by_hazard' assessment_id=assessment.id hazard_id=hazard.id ca_subsection_id=ca_subsection_id %}">{{ hazard.name }}</a></th>
                    <td>&nbsp;</td>
                    <td><a href="" class="changelink">{% trans 'Edit' %}</a></td>
                    <td>&nbsp;</td>

                </tr>
            {% endfor %}
        {% endif %}

        {% if questions%}
            <tr class="assessment-{{ assessment.object_name|lower }}">
                <th scope="row"><span class="required">Non hazard-related questions:</span></th>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            {% for question in questions %}
                <tr class="assessment-{{ assessment.object_name|lower }}">

                    <th scope="row">&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'crptapp:ca_statement_detail_by_question' assessment_id=assessment.id question_id=question.id %}">{{ question.code }}-{{ question.description }}</a></th>
                    <td>&nbsp;</td>
                    <td><a href="" class="changelink">{% trans 'Edit' %}</a></td>
                    <td>&nbsp;</td>

                </tr>
            {% endfor %}
        {% endif %}
        </table>
        </div>
<!-- <div class="submit-row" style="text-align:right;"> -->
<p class="paginator">

        {% if questions.has_previous %}
        <span class="">
            <a href="?page={{ questions.previous_page_number }}"> Previous </a>
        </span>
        {% endif %}

        <span class="this-page">
            Page {{ questions.number }} of {{ questions.paginator.num_pages }}.
        </span>

        {% if questions.has_next %}
        <span class="">
            <a href="?page={{ questions.next_page_number }}"> Next </a>
        </span>
        {% endif %}
    </span>
</p>
<!-- </div> -->

{% else %}
    <p>{% trans "You have no questions created." %}</p>
{% endif %}
</div>
{% endblock %}

{% block sidebar %}

{% endblock %}
